<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOMENDACION DE LIBROS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <video autoplay loop muted>
        <source src="/static/img/demi.mp4" type="video/mp4">
        Tu navegador no soporta el video.
    </video>
    <form action="/recomendar" method="post">
        <h1>Sistema de Recomendación de Libros</h1>
        <label for="titulo">Ingrese el título de un libro:</label>
        <input type="text" id="titulo" name="titulo" required>
        <a href="index2.html"><button class="button-85" role="button" type="submit" value="Recomendar">Recomendar</button></a>
    </form>

</body>

</html>